<ul class= "events_list">
  <% @events.each do |event| %>
    <%= link_to event, class: 'text-decoration-none' do %>
        <div class="eventcard">
          <div class="eventposter">
            <img src="https://www.fillmurray.com/140/200" class="event__thumbnail">
          </div>
          <div class="event_info">
            <h4 class="event__title"><%= event.name %> - <%= event.movie %></h4>
            <li class="event__details"><%= event.address %></li>
            <li class="event__details"><%= event.date.strftime(" %A %e %B") %> at
              <%= event.date.strftime("%l %p") %></li>
              <% sum = 0 %>
              <% event.bookings.each do |booking| %>
                <% sum += booking.number_of_tickets %>
              <% end %>
            <li class="event__details"><strong><%= sum %></strong> people have booked your event & you have earned <strong>£<%= event.ticket_price * sum %></strong> on this!</li>
            <li class="event__details"><%= event.venue_type %></li>
          </div>
        </div>
    <% end %>
  <% end %>
</ul>

