<div class="container">
  <div class="form-container">
    <%= simple_form_for(@event) do |f| %>
      <%= f.input :name %>
      <%= f.input :address %>
      <%= f.input :description %>
      <%= f.input :date, as: :date, html5: true %>
      <%= f.input :venue_type, collection: Event::VENUE_CATEGORIES %>
      <%= f.input :movie %>
      <%= f.input :ticket_price, input_html: { min: '1' } %>
      <%= f.input :capacity, input_html: { min: '0' } %>
      <%= f.simple_fields_for :photos do |p| %>
        <%= p.input :name, as: :file, class: "button", input_html: { multiple: true }, name:"photos[name][]" %>
        <%= p.input :name_cache, as: :hidden, class: "button" %>
      <% end %>
      <% unless @event.id.nil? %>
        <%= f.submit "Edit event", class: "btn btn-primary" %>
      <% else %>
        <%= f.submit "Add event", class: "btn btn-primary" %>
      <% end %>
    <% end %>
  </div>
</div>
     
