<div class="body-container">
  <div class="form-container">
    <%= simple_form_for(@event) do |f| %>
      <%= f.input :name %>
      <%= f.input :address, input_html: {id: "flat_address"} %>
      <%= f.input :description %>
      <%= f.input :date, as: :datetime, html5: true, input_html: {class: "datetimepicker search-box"} %>
      <%= f.input :venue_type, collection: Event::VENUE_CATEGORIES %>
      <%= f.input :movie %>
      <%= f.input :ticket_price, input_html: { min: '1' } %>
      <%= f.input :capacity, input_html: { min: '0' } %>
      <%= f.input :poster %>
      <%= f.input :poster_cache, as: :hidden %>
      <%= f.simple_fields_for :photos do |p| %>
        <%= p.input :image, as: :file, class: "button", input_html: { multiple: true }, image:"photos[image][]" %>
        <%= p.input :image_cache, as: :hidden, class: "button" %>
      <% end %>
      <% unless @event.id.nil? %>
        <%= f.submit "Edit event", class: "btn btn-primary" %>
      <% else %>
        <%= f.submit "Add event", class: "btn btn-primary" %>
      <% end %>
    <% end %>
  </div>
</div>

