<div class="container">
<h4>Where</h4>

<div class="search-form-control form-group">
  <%= simple_form_for :search, url: events_path, method: "get" do |f| %>
    <div class="row" style="margin: 0">
      <%= f.input :query, as: :string, input_html: { id: "flat_address"} %>
      <%= f.input :from, as: :string, placeholder: "dd.mm.yy", required: false, input_html: {class: "datepicker search-box"} %>
      <%= f.input :to, as: :string, placeholder: "dd.mm.yy", required: false, input_html: {class: "datepicker search-box"} %>
    </div>
    <%= submit_tag "Search", class: "btn btn-primary" %>
  <% end %>
</div>

