<div class="searchresults">
  <div class="results-container">

    <h4 class="resultsheading"><%= @events.count  %> screenings in AREA from DATE - DATE</h4>



    <div class="results-holder">
      <div class="col-md-7">
        <div class="row">
          <ul class= "events_list">
            <% @events.each do |event| %>
              <%= link_to event, class: 'text-decoration-none' do %>
                <div class="eventcard">
                  <img src="https://www.fillmurray.com/140/200" class="event__thumbnail">
                  <div class="event_info">
                    <p class="event__details"><b><%= event.venue_type.upcase %></b></li>
                    <h1 class="event__title"><%= event.name %> - <%= event.movie %></h1>
                    <h4 class="event__details"><%= event.address %></h4>
                    <h4 class="event__details"><%= event.date %></h4>
                    <h2 class="event__details">£<%= event.ticket_price %>/ticket</h2>
                  </div>
                </div>
              <% end %>
            <% end %>
          </ul>
        </div>
      </div>
      <div class="col-md-5">
        <div class="resultsmap">
          <img src="">
        </div>
      </div>
    </div>
  </div>
</div>
