<h4>NUMBER screenings in AREA from DATE - DATE</h4>


<% @events.each do |event| %>
  <%= event.name %>
  <%= event.movie %>
  <%= event.address %>
  <%= event.date %>
  <%= event.ticket_price %>
  <%= event.venue_type %>
<% end %>
