<div class="searchresults">
  <div class="cards-container">

  <% search_params = params[:search] %>
  <% if @from_date && @to_date %>
    <h4 class="resultsheading">
      <%= @events.size  %> screenings in <%= search_params[:query] %> from <%= @from_date.strftime("%A, %B %e") %> to <%= @to_date.strftime("%A, %B %e") %>
    </h4>
  <% end %>

    <div class="row">
      <div class="col-md-7">
        <%= render '/shared/eventscards' %>
      </div>
      <div class="col-md-5">
        <div
          id="map"
          data-markers="<%= @markers.to_json %>"
          data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
        </div>
      </div>
    </div>
  </div>
</div>

