<div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
  <div class="carousel-inner">
    <% @event.photos.each_with_index do |photo, index| %>
      <div class="carousel-item <%= 'active' if index == 0 %>" style="background-image: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)), url('<%= cl_image_path photo.image %>')">
        <div class="carousel-caption d-none d-md-block">
          <h3><%= photo.event.name %></h3>
          <h5>Showing: <%= photo.event.movie %></h5>
        </div>
      </div>
    <% end %>
  </div>
  <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>





<div class="show-container">
  <div class="row show-content">
    <div class="left-showbox">
      <h3><%= @event.address %></h3>
      <p>Venue type: <u><%= @event.venue_type.capitalize %></u></p>
      <p class="event_descrption"><%= @event.description %></p>
      <% if user_signed_in? && policy(@event).edit? %>
        <%= link_to 'Edit Event', edit_event_path(@event), class: 'btn btn-primary' %>
      <% end %>
      <% if user_signed_in? && policy(@event).destroy? %>
        <%= link_to 'Delete Event', event_path(@event), method: :delete, data: { confirm: "Delete #{@event.name}?" }, class: 'btn btn-primary' %>
      <% end %>
    </div>
    <div class="right-showbox">
      <div class="right-bookingbox">
        <h2>Event Info</h2>
          <div class="eventbooking">
            <p class="eventbookinginfo">£<span id="booking-ticket-price" data-price="<%= @event.ticket_price %>"><%= @event.ticket_price %></span> per person</p>
            <p class="eventbookinginfo">Time: <%= @event.date.strftime("%A, %d %b %Y %l:%M %p") %></p>
            <% booking_sum = 0 %>
            <% @event.bookings.each do |booking| %>
              <% booking_sum += booking.number_of_tickets %>
            <% end %>
            <% tickets_left = (@event.capacity) - (booking_sum) %>
            <p class="show-capacity" data-capacity="<%= tickets_left %>"><%= tickets_left %> tickets left!</p>
            </div>
          <% if user_signed_in? %>
            <%= render 'bookings/form', event: @event, booking: @booking  %>
          <% else %>
            <%= link_to 'Sign in to book', new_user_session_path,class: 'btn btn-primary w-100' %>
          <% end %>
        </div>
      </div>
      <div class="poster">
        <% if @event.poster.present? %>
          <div class="show-movie" style="background-image: url('<%= cl_image_path @event.poster %>')">
        <% end %>
      </div>
    </div>
  </div>
</div>


