<div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
  <div class="carousel-inner">
    <% @event.photos.each do |photo| %>
      <div class="carousel-item active" style="background-image: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)), url('<%= cl_image_path photo.name %>')">
        <div class="carousel-caption d-none d-md-block">
          <h3><%= photo.event.name %></h3>
          <h5>Showing: <%= photo.event.movie %></h5>
        </div>
      </div>
    <% end %>
  </div>
  <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>

<div class="body-container">
  <div class="show-content">
    <div class="left-showbox">
      <h2><%= @event.name %></h2>
      <h4>Showing: <%= @event.movie %></h4>
      <h6>@<%= @event.address %></h6>
      <p class="underline">Venue Type: <%= @event.venue_type %></p>
      <p><%= @event.description %></p>
      <%= link_to 'Back to Events', events_path, class: 'btn btn-primary'%>
      <% if user_signed_in? && policy(@event).edit? %>
        <%= link_to 'Edit Event', edit_event_path(@event), class: 'btn btn-primary' %>
      <% end %>
      <% if user_signed_in? && policy(@event).destroy? %>
        <%= link_to 'Delete Event', event_path(@event), method: :delete, data: { confirm: "Delete #{@event.name}?" }, class: 'btn btn-primary' %>
      <% end %>
    </div>
    <div class="right-showbox">
      <h2>Event Info</h2>
      <p class="top-margin">£<%= @event.ticket_price %> per person</p>
      <p>Event Date: <%= @event.date.strftime("%A, %b %d") %></p>
      <% if user_signed_in? %>
        <%= link_to "Book", new_event_booking_path(@event), class: 'btn btn-primary w-100' %>
      <% else %>
        <%= link_to "Sign in to book", new_user_session_path, class: 'btn btn-primary w-100' %>
      <% end %>
    </div>
  </div>
</div>



