<div class="images">
  <img src="" alt="">
  <img src="" alt="">
  <%= @event.photo %>
</div>

<div class="container">
  <div class="show-content">
    <div class="left-showbox">
      <h2><%= @event.name %></h2>
      <h4>Showing: <%= @event.movie %></h4>
      <h6>@<%= @event.address %></h6>
      <p class="underline">Venue Type: <%= @event.venue_type %></p>
      <p><%= @event.description %></p>
      <%= link_to 'Back to Events', events_path, class: 'btn btn-primary'%>
      <% if user_signed_in? && policy(@event).edit? %>
        <%= link_to 'Edit Event', event_path(@event), class: 'btn btn-primary' %>
      <% end %>
      <% if user_signed_in? && policy(@event).destroy? %>
        <%= link_to 'Delete Event', event_path(@event), method: :delete, data: { confirm: "Delete #{@event.name}?" }, class: 'btn btn-primary' %>
      <% end %>
    </div>
    <div class="right-showbox">
      <h2>Event Info</h2>
      <p class="top-margin">£<%= @event.ticket_price %> per person</p>
      <p>Event Date: <%= @event.date.strftime("%A, %b %d") %></p>
      <% if user_signed_in? %>
        <%= link_to "Book", new_event_booking_path(@event), class: 'btn btn-primary w-100' %>
      <% else %>
        <%= link_to "Sign in to book", new_user_session_path, class: 'btn btn-primary w-100' %>
      <% end %>
    </div>
  </div>
</div>



