<div class="images">
  <img src="" alt="">
  <img src="" alt="">
  <%= @event.photo %>
</div>

<div class="container">
  <div class="show-content">
    <div class="left-showbox">
      <h2><%= @event.name %></h2>
      <h4>Showing: <%= @event.movie %></h4>
      <h6>@<%= @event.address %></h6>
      <p class="underline">Venue Type: <%= @event.venue_type %></p>
      <p><%= @event.description %></p>
      <%= link_to 'Back to Events', events_path, class: 'btn btn-primary'%>
    </div>
    <div class="right-showbox">
      <h2>Event Info</h2>
      <p class="top-margin">£<%= @event.ticket_price %> per person</p>
      <p>Event Date: <%= @event.date.strftime("%A, %b %d") %></p>
      <%= link_to "Book", events_path, class: 'btn btn-primary w-100' %>
    </div>
  </div>
</div>



