<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Limelite</title>
    <link rel="shortcut icon" type="image/x-icon" href="<%= asset_url 'favicon.png' %>">
    <%= csrf_meta_tags %>
    <%= action_cable_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= stylesheet_pack_tag 'application', media: 'all' %>
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,900&display=swap" rel="stylesheet">
  </head>
  <body>
    <div class="page-container">
      <%= render './pages/navbar' %>
      <%= render 'shared/flashes' %>
      <%= yield %>
      <%= javascript_include_tag 'application' %>
      <%= javascript_pack_tag 'application' %>
    </div>
    <%= render './pages/footer' %>
  </body>
</html>
